    </div> <!-- end .container -->
    <footer class="bg-light text-center py-4 mt-5 border-top">
        <div class="container">
            <small>جميع الحقوق محفوظة &copy; <%= new Date().getFullYear() %> | موقع المقالات الأسبوعية</small>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
